.header {
  background: #3a4f63 url(/images/header_background.webp) no-repeat center fixed;
  background-size: cover;
  height: 769px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.header__img {
  height: 23px;
  margin-top: 41px;
  
  
}
.heaeder-cenrt__title {
  font-family:  "Bebas Neue";
  font-size: 60px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 5.8px;
}
.heaeder-cenrt__text {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
 
}
.header-centr__scrolldown {
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 71px;
  color: #ffffff;
  letter-spacing: 3.7px;
}
