.navigation {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header-cap {
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  position: sticky;
  z-index: 10;
  left: 0;
  top: 0px;
  width: 100%;
}

.navigation-img {
  width: 80px;
  height: 18px;
  display: block;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.navigation-list:hover {
  color: #00a4e5;
  transition: 0.5s;
}
.navigation-list__home {
  color: black;
 
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 47px;
}
.navigation-list__about {
  
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 47px;
}
.navigation-list__services {
   font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 43px;
}
.navigation-list__work {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 38px;
}
.navigation-list__contact {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 29px;
}
.home-href {
  color: #48555b;
  text-decoration: none;
  transition: 0.5s;
}
.home-href:hover {
  color: #00a4e5;
  transition: 0.5s;
}
