.navigation {
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #e6e6e6;
  position: sticky;
  left: 0;
  top: 10px;
  width: 100%;
  height: 60px;
}
.img_navigation {
  margin-top: 24px;
  margin-bottom: 24px;
}
.navigation_list {
  margin: 25px;

  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.home {
  color: black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 47px;
}
.about {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 47px;
}
.services {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 43px;
}
.work {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 38px;
}
.contact {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-left: 29px;
}
a {
  color: #48555b;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: #00a4e5;
  transition: 0.5s;
}
