.section1 {
  margin-top: 48px;
  margin-bottom: 128px;
}

.title_story {
  text-align: center;
  margin-bottom: 11px;
}

.line {
  display: block;
  height: 2px;
  width: 50px;
  background: #00a4e5;
  margin: 0 auto;
  margin-bottom: 82px;
}
.story {
  display: flex;
  justify-content: space-between;
}
.text_story {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}
p2 {
  color: #48555b;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.img_story {
  display: flex;
  flex-flow: row nowrap;
}
.img_plan {
  width: 150px;
  height: 225px;
  margin-left: 50px;
  position: relative;
 
  color: white;
}
.img_manage {
  width: 150px;
  height: 225px;
  margin-left: 10px;
  position: relative;
  
  color: white;
}
.img_build {
  width: 150px;
  height: 225px;
  margin-left: 10px;
  position: relative;
  
  color: white;
}
.plan_left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 700;
  font-size: 24px;
}
.manage_left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 700;
  font-size: 24px;
}
.build_left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 700;
  font-size: 24px;
}
