.section1 {
  margin-top: 48px;
  margin-bottom: 128px;
}

.section1-title {
  text-align: center;
  margin-bottom: 11px;
  margin-bottom: 82px;
  font-family: "Open Sans";
  color: #48555b;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.4px;
}
.section1-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  padding-top: 10px;
  margin: 0 auto;
  border-bottom: 2px solid #00a4e5;
}

.section1-story {
  display: flex;
  justify-content: space-between;
}
.section1__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section1-story__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}
.section1-story__text {
  color: #48555b;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.section1-story__img {
  display: flex;
  flex-flow: row nowrap;
}
.section1-story__plan {
  width: 150px;
  height: 225px;
  margin-left: 50px;
  position: relative;

  color: white;
}
.section1-story__manage {
  width: 150px;
  height: 225px;
  margin-left: 10px;
  position: relative;

  color: white;
}
.section1-story__build {
  width: 150px;
  height: 225px;
  margin-left: 10px;
  position: relative;

  color: white;
}
.plan_left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 700;
  font-size: 24px;
}
.manage_left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 700;
  font-size: 24px;
}
.build_left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 700;
  font-size: 24px;
}
