.section3 {
  background: #3a4f63 url(/images/footer_background.webp);
  background-size: cover;
  height: 769px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.section3__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  margin-top: 235px;
  margin-bottom: 35px;
  color: #48555b;
  letter-spacing: 0.15px;
}
.section3__button {
  width: 150px;
  height: 40px;
  background: #00a4e5;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-decoration: none;
}
