.section2 {
  margin-bottom: 115px;
}
.capabilities {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}
.capabilities-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
}
.capabilities-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  padding-top: 10px;
  border-bottom: 2px solid #00a4e5;
}


.capabilities-text {
  max-width: 405px;
  color: #48555b;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin-left: 153px;
  margin-right: 32px;
}
.capabilities-battom {
  color: aliceblue;
  text-align: center;
  background: #00a4e5;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.card {
  display: flex;
  justify-content: space-around;
}
article {
  border: 1px solid #e6e6e6;
  width: 295px;
  height: auto;
  padding: 23px;
}
.card-title_pensil {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #48555b;
  margin-bottom: 13px;
}
.card_text_pensil {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.card-title_shop {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #48555b;
  margin-bottom: 13px;
}
.card-text_shop {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.card-title_buil {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #48555b;
  margin-bottom: 13px;
}
.card-text_buil {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.card-img {
  margin-bottom: 25px;
  margin-top: 38px;
}
